.card {

}

.normal {
    background: var(--bg-redesigned);
    border-radius: 12px;
}

.round {
  border-radius: 40px;
}

.max {
  width: 100%;
}

.light {
  background: var(--light-bg-redesigned);
}

.max {
  width: 100%;
}

.accent {
  color: var(--accent-redesigned);
}


.gap_0 {
  padding: 0;
}

.gap_8 {
  padding: 8px;
}

.gap_16 {
  padding: 16px;
}

.gap_24 {
  padding: 24px
}

.gap_32 {
  padding: 32px
}
