@import "normilize";
@import "./themes/dark";
@import "./themes/light";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--primary-color);
}

.d-flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.p-1 {
  padding: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}
