.profile-card {
  margin-top: 1em;
}

.content {
  margin-top: 1em;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.buttons-wrapper {
  display: flex;
  flex: auto 1 1;
  justify-content: space-between;
  margin-top: 1em;
}

.profile-input {
  margin-top: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.readonly {
  opacity: 0.5;
  pointer-events: none;
}

.input-wrapper {
  list-style: none;
  width: 100%;
}


.avatar-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0 2em;
}
