.profile-card {
  padding: 20px;
  border: 2px solid var(--inverted-primary-color);
}

.header {
  display: flex;
}

.edit-btn {
  margin-left: auto;
}

.content {
  margin-top: 30px;
}

.profile-input {
  margin-top: 10px;
}
