.popover {
  z-index: 10000;
  box-sizing: border-box;
  padding: 6px;
  border: 1px solid var(--accent-redesigned);
  border-radius: 16px;

  background: var(--bg-redesigned);
  min-width: 150px;
  max-width: 250px;

  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);

  overflow: auto;
  outline: none;

  &[data-placement=top] {
    --origin: translateY(8px);
  }

  &[data-placement=bottom] {
    --origin: translateY(-8px);
  }

  &[data-entering] {
    animation: slide 200ms;
  }

  &[data-exiting] {
    animation: slide 200ms reverse ease-in;
  }

  &:focus {
    outline-width: 0;
  }
}

@keyframes slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
