.app {
  // navbar sizes
  --navbar-height: 50px;

  // sidebar sizes
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // Select
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: #777;
}
