.app.light {
  --bg-color: #FFFFFF;
  --inverted-bg-color: #08020D;
  --primary-color: #091536;
  --secondary-color: #090909;
  --inverted-primary-color: #55b99e;
  --inverted-secondary-color: #34C176;

}
