@import "normilize";
@import "./variables/global";
@import "../app/themes/dark";
@import "../app/themes/light";

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
