@import "global";

.app.dark {
  --bg-color: #08020d;
  --inverted-bg-color: #fff;
  --primary-color: #34c176;
  --secondary-color: #eaeaeaff;
  --inverted-primary-color: #5855b9;
  --inverted-secondary-color: #090909;
}
