:root {
  --font-family-main: consolas, "Times New Roman", serif;
  --font-size-m: 16px;
  --line-height-m: 24px;
  --font-m: var(--font-size-m) / var(--line-height-m) var(--font-family-main);
  --font-size-l: 24px;
  --line-height-l: 32px;
  --font-l: var(--font-size-l) / var(--line-height-l) var(--font-family-main);
  --font-size-xl: 32px;
  --line-height-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--line-height-xl) var(--font-family-main);
}

.app {
  // navbar sizes
  --navbar-height: 50px;

  // sidebar sizes
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  // Select
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: #777;

  // z-index
  --modal-z-index: 10;

  // colors
  --red-light: #cc3838;
  --red-dark: #962323;
}
