@import "global";

.app.light {
  --bg-color: #f1f1f1;
  --inverted-bg-color: #08020d;
  --primary-color: #8a2689ff;
  --secondary-color: #090909;
  --inverted-primary-color: #36bd5c;
  --inverted-secondary-color: #34c176;
}
