.avatar {
  border-radius: 50%;
}

.fallback {
  fill: var(--primary-color);
  color: var(--primary-color);
}

.inverted-fallback {
  fill: var(--inverted-primary-color);
  color: var(--inverted-primary-color);
}
