.input-wrapper {
  display: flex;

  .placeholder {
    margin-right: 10px;
    color: var(--inverted-primary-color);
  }

  .caret-wrapper {
    flex-grow: 1;
    position: relative;

    .caret {
      position: absolute;
      height: 3px;
      width: 9px;
      background: var(--inverted-primary-color);
      bottom: 0;
      left: 0;
      animation: blinks 0.7s forwards infinite;
    }

    .input {
      background: transparent;
      border: none;
      outline: none;
      color: transparent;
      text-shadow: 0 0 0 var(--inverted-primary-color);

      &:focus { outline: none; }
    }
  }
}

@keyframes blinks {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
